<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-row class = "row1">
      <ion-col>
        <ion-title>
          Showbleas
        </ion-title>
      </ion-col>
      <ion-col>
        <ion-title class="mifuente2">
          Fecha: <ion-label>{{actualDate}}</ion-label>
        </ion-title> 
      </ion-col>
      <ion-col>
        <ion-title class="mifuente2">
          Hora - <ion-label>{{actualTime}}</ion-label>
        </ion-title>  
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col class="col1">
        
          <ion-grid>
            <ion-label class="mifuente1">
              MODÚLO CAJERO -  BIENVENIDO
            </ion-label>
          </ion-grid>
          
          <ion-card>
            <ion-grid>
              <ion-label class="mifuente1">
              Pedidos Virtuales
              </ion-label>
            </ion-grid>
          </ion-card>
         
          <ion-card>
            <ion-list>
              <ion-item  lines="none">
                <ion-button size="large" slot="end" (click)="ir()">siguiente</ion-button>
              </ion-item>
            </ion-list>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
