<ion-header>
  <ion-toolbar>
    <ion-title>Promociones</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="goShoppingCart()">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <img src="../../../../assets/img/Fondo-promotions.jpg" alt="">
  <ion-toolbar>
    <ion-searchbar placeholder="Nombre Producto"></ion-searchbar>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-title>Promociones Productos</ion-title>
  </ion-item>

  <!-- lista productos Obleas -->
  <ion-item>
    <ion-title>Obleas</ion-title>
  </ion-item>
  <ion-list>
    <ion-card>
      <ion-item class="content-product">
        <img class="img-product" slot="start" src="../../../../assets/img/oblea.png">
        <ion-label class="title-procuct" slot="start">Oblea de piña</ion-label>
        <ion-label class="price-product" slot="end">$1100</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <!-- lista productos Vasos de helado -->
  <ion-item>
    <ion-title>Vasos de helado</ion-title>
  </ion-item>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>No hay promociones</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <!-- lista productos Vasos de helado -->
  <ion-item>
    <ion-title>Postres</ion-title>
  </ion-item>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>No hay promociones</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
