<head>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  <script type="module">
    import { alertController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
    window.alertController = alertController;
  </script>
</head>
<ion-content>
  <div>
    <img class="img-oblea" src="../../../assets/img/oblea-principal.jpg" alt="">
  </div>
  <div class="container-login">
    <div class="content-title">
      <ion-label>Iniciar Sesión</ion-label>
    </div>
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" required></ion-input>
    </ion-item><br>
    <div class="content-button">
      <ion-alert-controller></ion-alert-controller>
      <button class="btn-log" (click)="doLogin()">Ingresar</button><br>
    </div>
    <div>
      <button class="btn-reg" (click)="goSignUp()">Registrarse</button>
    </div>
  </div>
</ion-content>
