<ion-header>
  <ion-toolbar>
    <ion-title>Solicitudes de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goProfileAdmin()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-item class="title">
      <ion-label>Solicitudes de Pedidos</ion-label>
    </ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        <ion-icon slot="end" name="close-outline"></ion-icon>      
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        <ion-icon slot="end" name="close-outline"></ion-icon>      
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        <ion-icon slot="end" name="close-outline"></ion-icon>      
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-item class="title" >
      <ion-label>Solicitudes Aceptadas</ion-label>
    </ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="close-outline"></ion-icon>     
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="close-outline"></ion-icon>     
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-item class="title" >
      <ion-label>Solicitudes Rechazadas</ion-label>
    </ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        <ion-icon slot="end" name="trash-sharp"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        <ion-icon slot="end" name="trash-sharp"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Asunto Permiso</ion-label>
        <ion-icon slot="end" name="information-outline"></ion-icon>
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        <ion-icon slot="end" name="trash-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
