ion-slides {
    height: 30%;
    width: 100%;
  }
  
  ion-card{
  border-radius: 15px;
  margin-bottom: 10%;
  }
  
  ion-grid{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  ion-row{
    height: 100%;
    justify-content: center;
    display: flex!important;
     align-items: center!important;
     vertical-align: middle;
  }
  
  ion-col{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
  }

  ion-card-title{
    font-size: 17pt;
  }

  ion-card-subtitle{
    font-size: 15pt;
  }
  
  div{
    width: 100%;
    padding-left: 4%;
    text-align: left;
    padding-top: 1%; 
    align-items: left;
    align-content: left;
  }

  .descuentos{
    text-align: left;
    align-items: left;
    align-content: left;
  }

  .titulo2{
 width: 100%;
 margin-left: 10%;
 margin-right: 10%;
 margin-bottom: 10%;
  }

  .titulo{
    font-size: 25pt;
  }