<ion-header>
  <ion-toolbar>
    <ion-title>Crear Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>

    <ion-list class="container-create-product">
      <ion-item>
        <ion-label position="stacked">Tipo Producto</ion-label>
        <ion-select name="product_type" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="oblea">Oblea</ion-select-option>
          <ion-select-option value="vaso-de-helado">Vasos de helados</ion-select-option>
          <ion-select-option value="postres">Postres</ion-select-option>
          <ion-select-option value="topping">Topping</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombre Producto</ion-label>
        <ion-input name="product_name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Decripción</ion-label>
        <ion-textarea name="product_description" rows="6" cols="20" type="text" placeholder="Descripción del producto" required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input name="product_price" type="number" required></ion-input>
      </ion-item>
      <!-- Foto del celular -->

      <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->

      <ion-button expand="block" (click)="addPhotoToGallery()">
        <ion-icon name="image"></ion-icon>
        Cargar imagen producto
      </ion-button>
      <!-- Foto del celular -->
      <!-- Mostrar foto -->
      <ion-grid>
        <ion-row>
        <ion-col size="6" 
          *ngFor="let photo of photoService.photos; index as position">
            <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Mostrar foto -->
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium" (click)="goProductsAdmin()">Cancelar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="warning" (click)="AddProduct()">Añadir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
