<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-title>
          Showbleas
        </ion-title>  
      </ion-col>
      <ion-col>
        <ion-title class="mifuente2">
          Fecha: <ion-label>{{actualDate}}</ion-label>
        </ion-title>
      </ion-col>
      <ion-col>
        <ion-title class = "mifuente2">
          Hora - <ion-lablel>{{actualTime}}</ion-lablel>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cardprincipal">
          <div class="titulo">
            <label>Pedido:</label>
          </div>
          <ion-slides pager="true" >
            <ion-slide>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>ITEM 1</ion-card-title>
                        <ion-card-subtitle>Adicional 1</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 2</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 3</ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                  <ion-col>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>ITEM 2</ion-card-title>
                        <ion-card-subtitle>Adicional 1</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 2</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 3</ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                  <ion-col>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>ITEM 3</ion-card-title>
                        <ion-card-subtitle>Adicional 1</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 2</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 3</ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                  <ion-col>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>ITEM 4</ion-card-title>
                        <ion-card-subtitle>Adicional 1</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 2</ion-card-subtitle>
                        <ion-card-subtitle>Adicional 3</ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <ion-slide>
              <h1>Slide 2</h1>
            </ion-slide>
            <ion-slide>
              <h1>Slide 3</h1>
            </ion-slide>
          </ion-slides>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <div class="titulo">
                  <label text-left >Descuentos:</label>
                </div>
                <ion-card class="descuentos">
                  <ion-item lines="none">
                    <ion-card-subtitle>10%</ion-card-subtitle>
                    <ion-checkbox slot="start" [(ngModel)]="entry[0]"></ion-checkbox>
                  </ion-item>
                  <ion-item  lines="none">
                    <ion-card-subtitle>20%</ion-card-subtitle>
                    <ion-checkbox slot="start" [(ngModel)]="entry[1]"></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-card-subtitle>30%</ion-card-subtitle>
                    <ion-checkbox slot="start" [(ngModel)]="entry[2]"></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-card-subtitle>2X1</ion-card-subtitle>
                    <ion-checkbox slot="start" [(ngModel)]="entry[3]"></ion-checkbox>
                  </ion-item>
                </ion-card> 
              </ion-col>
              <ion-col class="col2" size="8">
                <ion-row>
                  <div>
                    <ion-list>
                      <ion-item class="mifuente2" lines="none">
                         <ion-label class="mifuente2">Total básico: </ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                      <ion-item class="mifuente2" lines="none">
                        <ion-label class="ion-text-wrap">Total adicionales:</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                      <ion-item class="mifuente2" lines="none">
                        <ion-label >Total: </ion-label>
                        <ion-input ></ion-input>
                      </ion-item>
                    </ion-list>
                  </div>
                </ion-row>
                <ion-row>
                  <ion-item lines="none">
                    <ion-button size="large" slot="end" (click)="ir()">siguiente</ion-button>
                  </ion-item>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>